@{
    ViewData["Title"] = "Kategoriler";
}
@using Kutuphane2.Models
@model List<Kategori>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Kategori Adı</th>
            <th>Kitap Adeti</th>
            <th>Güncelle</th>
            <th>Sil</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var ktg in Model)
        {
            <tr>
                <td>@ktg.KategoriAdi</td>
                <td>@ktg.Kitaplar.Count()</td>
                <td><button class="guncelle btn btn-custom" value="@ktg.Id">Güncelle</button></td>
                <td><button class="sil btn btn-danger" value="@ktg.Id">Sil</button></td>

            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Kategori Adı</th>
            <th>Kitap Adeti</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </tfoot>
</table>